# ==============================
# Cocos Creator 3.x
# ==============================
library/
temp/
local/
build/
profiles/
native/
.creator/
.idea/

# ==============================
# Node / 构建产物
# ==============================
node_modules/
dist/
*.log
npm-debug.log*
yarn-error.log*

# ==============================
# 编辑器与系统文件
# ==============================
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
.DS_Store
Thumbs.db

# ==============================
# 敏感与本地环境
# ==============================
.env
.env.local
*.pem
